# Node.js dependencies
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
src/uploads
/uploads
tokens.json
telegramMedia.json
